INSTALL
Makefile.in
aclocal.m4
autom4te.cache/
compile
config.guess
config.sub
configure
depcomp
gather-config.h.in
install-sh
ltmain.sh
missing
provider/Makefile.in
.deps/
Makefile
config.log
config.status
gather-config.h
gatherer.init-none
gatherer.init-redhat
gatherer.init-suse
libtool
man/*.pre
man/*.[851]
provider/.deps/
provider/Makefile
sblim-gather.spec
stamp-h1
*.o
*.lo
*.la
.libs/
provider/*.o
provider/*.lo
provider/*.la
provider/.libs/
channelclt
gatherctl
gatherd
gatherer
hyptest
mcctest
mcfgtest
mcstest
merrnotest
mtracetest
rcctest
rcstest
reposctl
reposd
reposdump
